[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[user]
	email = mingle@uber.com
	name = Caleb Mingle
[alias]
    st = status
    co = checkout
    ds = diff --staged
    unstage = reset HEAD
    back = reset --soft HEAD~
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple
