<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>7ECFE8B4-3F6D-4624-BB84-567BB9704635</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8286A67F-D274-4B86-9842-260E1C308FCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Caleb Mingle</string>
	<key>description</key>
	<string>Open Uber HQ Map</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Uber - HQ Map</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hq</string>
				<key>text</key>
				<string>HQ Map</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7ECFE8B4-3F6D-4624-BB84-567BB9704635</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>sourcefile</key>
				<string>~/Documents/hq-map.pdf</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>8286A67F-D274-4B86-9842-260E1C308FCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7ECFE8B4-3F6D-4624-BB84-567BB9704635</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8286A67F-D274-4B86-9842-260E1C308FCD</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
