snippet pudb "pudb set trace"
import pudb; pudb.set_trace()
endsnippet

snippet ipdb "ipdb set trace"
import ipdb; ipdb.set_trace()
endsnippet

snippet pdb "pdb set trace"
import pdb; pdb.set_trace()
endsnippet
