<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>D54B804C-7BB4-4B80-B3AD-1FCC6D08246F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A12336D5-0304-443D-85D4-BAC17653AE44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mingle Workboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mingle</string>
				<key>subtext</key>
				<string>Open Mingle Workboard</string>
				<key>text</key>
				<string>Mingle Workboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D54B804C-7BB4-4B80-B3AD-1FCC6D08246F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://code.uberinternal.com/project/board/645/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A12336D5-0304-443D-85D4-BAC17653AE44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>A12336D5-0304-443D-85D4-BAC17653AE44</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D54B804C-7BB4-4B80-B3AD-1FCC6D08246F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
