<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>56D03FAD-4250-4347-99CB-2A8BCF0D3FBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DC6CD6B-8271-4961-AC3E-D58682DC7A1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E0C0143D-2F68-48A9-856A-43DCEFD7A7A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4AACE63-D199-4C0D-A1E1-ADB8264CB78E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E9F7D410-4E81-40CC-8766-A2CEE4731A2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90FE965B-8311-4E02-916F-B8D20DC31445</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Caleb Mingle</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GIF</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>gif</string>
				<key>scopes</key>
				<array>
					<string>~/Dropbox/Public/gifs</string>
				</array>
				<key>subtext</key>
				<string>Copies GIF URL to clipboard</string>
				<key>title</key>
				<string>GIF</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>E0C0143D-2F68-48A9-856A-43DCEFD7A7A0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>db_url="https://dl.dropboxusercontent.com/u/52671849/gifs/"
echo -ne ${db_url}$(basename {query}) | pbcopy</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>F4AACE63-D199-4C0D-A1E1-ADB8264CB78E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell app "Finder" to set the clipboard to ( POSIX file "{query}" )</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>0DC6CD6B-8271-4961-AC3E-D58682DC7A1D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>cgif</string>
				<key>scopes</key>
				<array>
					<string>~/Dropbox/Public/gifs</string>
				</array>
				<key>subtext</key>
				<string>Copies GIF file to Clipboard</string>
				<key>title</key>
				<string>Copy GIF</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>56D03FAD-4250-4347-99CB-2A8BCF0D3FBC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sgif</string>
				<key>text</key>
				<string>Save GIF</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9F7D410-4E81-40CC-8766-A2CEE4731A2D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>cd /Users/Mingle/Dropbox/Public/gifs &amp;&amp; curl -O {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>90FE965B-8311-4E02-916F-B8D20DC31445</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0DC6CD6B-8271-4961-AC3E-D58682DC7A1D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>56D03FAD-4250-4347-99CB-2A8BCF0D3FBC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>90FE965B-8311-4E02-916F-B8D20DC31445</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>E0C0143D-2F68-48A9-856A-43DCEFD7A7A0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E9F7D410-4E81-40CC-8766-A2CEE4731A2D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>F4AACE63-D199-4C0D-A1E1-ADB8264CB78E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
